<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>

<body>
    <div id="container">
        <div id="outer-frame">
            <div id="line-one" class="diagonal-line green"></div>
            <div id="line-two" class="diagonal-line green"></div>
            <div id="line-three" class="diagonal-line purple"></div>
            <div id="inner-frame"></div>
        </div>
    </div>
</body>

</html>